@use '../core' as core

.quizHero
	@include core.layout-grid(center, center, column)
	grid-auto-columns: 1fr 1fr
	height: core.$main-height
	padding: core.$block-padd core.$inline-padd
	column-gap: 30px

.questionBody
	width: 100%
	height: 100%

.answersBody
	display: flex
	flex-direction: column
	width: 100%
	height: 100%

.pillWrapper
	@include core.layout-flex(center, space-between)
	width: 100%