@use '../core' as core

$-circle-size: 23rem

.statsPanelBody
  @include core.layout-flex(center, center)
  position: absolute
  top: -100%
  left: 0
  width: 100%
  height: 100%
  background-color: #404040
  font-family: 'Helvetica'

.panelDown
  top: 0
  transition: top 1000ms ease

.panelUp
  top: -100%
  transition: top 1000ms ease
  
.statsPanelWrapper
  @include core.layout-flex(center, center)
  flex-direction: column
  width: max-content
  height: 100%
  color: core.$white

.statsPanelCongrats
  font-size: 1.75rem
  font-weight: 400
  margin: 0 auto 0 0

.statsSubtitle
  text-align: center
  font-size: 0.875rem
  margin-top: 20px

.scoreSubtitle
  text-align: center
  font-size: 0.875rem
  margin-top: 10px

.statsPanelScore
  @include core.layout-flex(center, center)
  flex-direction: column
  font-size: 8rem
  margin-top: 45px

.statsWrapper
  @include core.layout-grid(center, center, column)
  column-gap: 12px
  margin-top: 45px

.statsCircleWrapper
  width: $-circle-size
  @include core.layout-flex(center, center)
  flex-direction: column

.escButtonBody
  display: flex
  align-items: center
  color: core.$white
  font-weight: 800
  margin: 45px 0 0 auto

.escButton
  margin-right: 8px
  margin-left: 12px

/* CirclePercent.tsx
.canvasWrapper
  position: relative

.canvasCircle
  width: $-circle-size
  border-radius: 100%

.strokePercent
  display: block
  @include core.absolute-center
  text-align: center
  font-size: 2rem
  font-weight: 800
