name: eslint/prettier fix on /api/
on:
  - push
  - pull_request
defaults:
  run:
    working-directory: ./api
jobs:
  fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js enviroment        
        uses: actions/setup-node@v3.1.1
        with: 
          node-version: 16.x
      - name: Install depedencies and run linting cmds
        run: |
          npm i
          npm run pretty & npm run lint --fix
